{% extends 'base.html' %}

{% block title %}Score{% endblock %}

{% block content %}
    <div id="stats-container">
        <div class="stats">
            <h2>YOUR SCORE</h2>
            <p id="final-score">{{ score }}</p>
        </div>
        <div class="stats">
            <h2>High Score</h2>
            <p id="high-score">{{ high_score }}</p>
        </div>
        <div class="stats">
            <h2>You played</h2>
            <p>{{ times_played }} Times</p>
        </div>
    </div>
    
    <a id="restart-game" href='/play_game'>Restart Game</a>
{% endblock %}